<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/CSS/MainStyles.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    @RenderSection("CSS", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <a href="/Home/Index"><img src="http://via.placeholder.com/150x70" class=" img-responsive" /> </a>
                </div>
                <div class="col-lg-2">
                    <div>
                        <a href="/Home/Cart">Shopping Cart [@ViewBag.AmountOfPrpductsInCart]</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <a href="/home/About/">About</a>
                    <a href="/home/Categories/">Categories</a>

                    <a href="/home/Contact/">Contact</a>

                    <a href="/home/Products/">Products</a>

                    <a href="/home/About/">About</a>
                </div>
                <div class="col-lg-4">
                    <div id="main-search">
                        <form action="/Home/SearchSubmit" method="post">
                            <input type="text" name="searchInput" placeholder="Search..." required />
                            <input type="submit" value="Search" />
                        </form>
                    </div>
                </div>
                

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <a href="/Home/TermsOfTrade">Terms of trade</a>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    @RenderSection("JS", false)
</body>
</html>